body
    font-family: 'Merriweather', serif;

.main
    float left
    width 70%
    height 500px
    background yellow

.sideBar
    float right
    width 30%
    height 500px
    background green

.next-app
    height 250px
    margin 80px
    background red
    opacity 0.5
